# Final Frontier

By Shay Altshue & Yvonne King

Quick Notebook Reference

1. Project Plan
2. Acquire Data
3. Prepare Data
4. Exploration
5. Modeling
6. Conclusions

## Project Plan

**Acquisition, Prep, and Initial Exploration**
> - Collect all file
- Create a dataframe using pandas for each file
- Clean and prepare the data to perform aggregations and merge each dataframe together
- Remove/repair erroneous data
- Look at shape of data

**Exploration**
- Answer the folowing qustion
> some questions

**Main Hypotheses**
- $H_0$
- $H_a$

## Imports

In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd

#Data Visualization
import seaborn as sns
import matplotlib.pyplot as plt

#Hypothesis testing
from math import sqrt
from scipy import stats

import src.wrangle

## Wrangle

- The ```wrangle.py``` file has all the functions to call in our data and handles the following:
    - Handled any null values by replacing them with zero
    - Set the date/time column to be the Index
    - Created a Unique ID for each space Mission by combining the company name with original index number
    - Renamed Columns
    - Created numerical codes for mission_status

In [2]:
df = src.wrangle.get_space_data()

In [4]:
df.sample(5)

,company_name,location,rocket_type,rocket_status,mission_cost,mission_status
date_time,,,,,,
1985-11-27 00:29:00+00:00,NASA,"LC-39A, Kennedy Space Center, Florida, USA",Space Shuttle Atlantis | STS-61-B,StatusRetired,450.0,Success
1978-11-13 05:24:00+00:00,General Dynamics,"SLC-36B, Cape Canaveral AFS, Florida, USA",Atlas-SLV3D Centaur-D1AR | HEAO-2,StatusRetired,0,Success
1975-12-14 05:15:00+00:00,Martin Marietta,"SLC-40, Cape Canaveral AFS, Florida, USA",Titan III(23)C | DSP-5,StatusRetired,0,Success
1984-08-04 13:32:00+00:00,Arianespace,"ELA-1, Guiana Space Centre, French Guiana, France","Ariane 3 | Eutelsat-1 F2, Telecom 1A",StatusRetired,0,Success
1988-04-05 14:31:00+00:00,RVSN USSR,"Site 133/3, Plesetsk Cosmodrome, Russia",Cosmos-3M (11K65M) | Cosmos 1937,StatusRetired,0,Success