# Final Frontier

By Shay Altshue & Yvonne King

Quick Notebook Reference

1. Project Plan
2. Acquire Data
3. Prepare Data
4. Exploration
5. Modeling
6. Conclusions

## Project Plan

**Acquisition, Prep, and Initial Exploration**
> - Collect all file
- Create a dataframe using pandas for each file
- Clean and prepare the data to perform aggregations and merge each dataframe together
- Remove/repair erroneous data
- Look at shape of data

**Exploration**
- Answer the folowing qustion
> some questions

**Main Hypotheses**
- $H_0$
- $H_a$

## Imports

In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd

#Data Visualization
import seaborn as sns
import matplotlib.pyplot as plt

#Hypothesis testing
from math import sqrt
from scipy import stats

import src.wrangle
import src.features

## Wrangle

- The ```wrangle.py``` file has all the functions to call in our data and handles the following:
    - Handled any null values by replacing them with zero
    - Set the date/time column to be the Index
    - Created a Unique ID for each space Mission by combining the company name with original index number
    - Renamed Columns
    - Created numerical codes for mission_status

In [2]:
#bring in complete dataframe
df = src.wrangle.get_space_data()

In [3]:
#take a peek at the data
df.sample(5)

,company_name,location,rocket_type,rocket_status,mission_cost,mission_status
date_time,,,,,,
2000-12-05 12:32:00+00:00,MITT,"Svobodny Cosmodrome, Russia",Start-1 | EROS A,StatusActive,0,Success
1976-11-10 09:05:00+00:00,CASC,"Site 138 (LA-2B), Jiuquan Satellite Launch Cen...",Feng Bao 1 | JSSW-6,StatusRetired,0,Failure
1964-04-12 09:31:00+00:00,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan",Poliot | Poliot-2,StatusRetired,0,Success
1971-05-29 03:48:00+00:00,RVSN USSR,"Site 132/1, Plesetsk Cosmodrome, Russia",Cosmos-3M (11K65M) | Cosmos 425,StatusRetired,0,Success
2016-11-11 23:14:00+00:00,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...",Long March 2D | Yunhai-1,StatusActive,29.75,Success

In [4]:
#look at the shape of the data
df.shape

(4324, 6)

In [5]:
#look at data types and counts
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4324 entries, 2020-08-07 05:12:00+00:00 to 1957-10-04 19:28:00+00:00
Data columns (total 6 columns):
company_name      4324 non-null object
location          4324 non-null object
rocket_type       4324 non-null object
rocket_status     4324 non-null object
mission_cost      4324 non-null object
mission_status    4324 non-null object
dtypes: object(6)
memory usage: 236.5+ KB

In [6]:
#make sure there are no nulls
df.isnull().sum()

company_name      0
location          0
rocket_type       0
rocket_status     0
mission_cost      0
mission_status    0
dtype: int64

In [7]:
df.isna().sum().sum()

0

In [8]:
df.isna().sum().sum()

0

In [13]:
#code misson_status 1 = success, 0 = failure of success
df = src.features.mission_result(df)

In [14]:
df

,company_name,location,rocket_type,rocket_status,mission_cost,mission_status,mission_result
date_time,,,,,,,
2020-08-07 05:12:00+00:00,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success,1
2020-08-06 04:01:00+00:00,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success,1
2020-08-04 23:57:00+00:00,SpaceX,"Pad A, Boca Chica, Texas, USA",Starship Prototype | 150 Meter Hop,StatusActive,0,Success,1
2020-07-30 21:25:00+00:00,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success,1
2020-07-30 11:50:00+00:00,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA",Atlas V 541 | Perseverance,StatusActive,145.0,Success,1
...,...,...,...,...,...,...,...
1958-02-05 07:33:00+00:00,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",Vanguard | Vanguard TV3BU,StatusRetired,0,Failure,0
1958-02-01 03:48:00+00:00,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA",Juno I | Explorer 1,StatusRetired,0,Success,1
1957-12-06 16:44:00+00:00,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",Vanguard | Vanguard TV3,StatusRetired,0,Failure,0
1957-11-03 02:30:00+00:00,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan",Sputnik 8K71PS | Sputnik-2,StatusRetired,0,Success,1
1957-10-04 19:28:00+00:00,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan",Sputnik 8K71PS | Sputnik-1,StatusRetired,0,Success,1